[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
wheel = "*"
setuptools = "*"
psycopg2 = "*"
djangocms-admin-style = "*"
django-ckeditor = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.10"
